persoane.dtd

<!ELEMENT persoane (persoana)>
<!ATTLIST persoana id CDATA "0">
<!ELEMENT persoana (nume, prenume, varsta, adresa, CV)>
<!ELEMENT nume (#PCDATA)>
<!ELEMENT prenume (#PCDATA)>
<!ELEMENT varsta (#PCDATA)>
<!ELEMENT adresa (strada, numar, localitate, judet, tara)>
<!ELEMENT strada (#PCDATA)>
<!ELEMENT numar (#PCDATA)>
<!ELEMENT localitate (#PCDATA)>
<!ELEMENT judet (#PCDATA)>
<!ELEMENT tara (#PCDATA)>
<!ELEMENT CV (limbaj)>
<!ELEMENT limbaj (#PCDATA)>